<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="container mx-auto"> 
    <div class="border-2 max-w-lg justify-center mx-auto p-5 mt-24">
    <form action="/login" method="post" class="flex flex-col space-y-5">
        <div class="col-span-12">
            <label class="font-semibold text-lg">
                Логин
            </label>
            <input class="w-full border-2 rounded-lg p-2" type="text" name="user">
        </div>
        <div class="col-span-12">
            <label class="font-semibold text-lg">
                Пароль
            </label>
            <input class="w-full border-2 rounded-lg p-2" type="password" name="password">
        </div>
        <button class="bg-emerald-500 hover:bg-emerald-600 rounded-md col-span-12 mx-auto p-3.5" type="submit">
            <span class="text-white hover:text-gray-100 font-semibold text-xl">
                Авторизоваться
            </span>
        </button>
    </form>
</div>
</body>
</html>